*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}

.container {
  margin: 0 auto;
  width: 80%;
  max-width: 800px;
}

.container-flex {
  display: flex;
  flex-direction: column;
  gap: 3em;
}

.subtitle {
  text-align: center;
  margin-top: 0;
  margin-bottom: 2em;
}

h1 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

h2 {
  margin-top: 0;
  margin-bottom: 0;
}

h3 {
  margin-top: 0.75em;
  margin-bottom: 0;
  color: #444;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

footer {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.2em 0;
}

footer p {
  opacity: 0.6;
}
